<ion-header>
  <ion-toolbar>
    <ion-title>Prontuário Eletrônico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" offset="4">
        <img (click)="detalhesPaciente()" src="../../assets/avatar.svg">
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="center">
        <strong><ion-label>{{paciente.nome}}</ion-label></strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Atendimento</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label>Data:</ion-label><br>
            <ion-label>Organização:</ion-label><br>
            <ion-label>Tipo Atendimento:</ion-label><br>
          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
</ion-content>