<ion-header>
  <ion-toolbar>
    <ion-title>Prontuário Eletrônico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" offset="4">
        <img (click)="detalhesPaciente()" src="../../assets/avatar.svg">
      </ion-col>
    </ion-row>
    <ion-row align-items-center>
      <ion-col class="center">
        <strong><ion-label>{{paciente.nome}}</ion-label></strong>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" *ngFor="let item of atendimentos">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Atendimento: {{item.numero}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-label>Data: {{item.dataPrevista | date:'dd/MM/yyyy'}}</ion-label><br>
            <ion-label>Organização: {{item.organizacao.nome}}</ion-label><br>
            <ion-label>Tipo Atendimento: {{item.tipo.tipo}}</ion-label><br>
          </ion-card-content>
        </ion-card>
      </ion-col>      
    </ion-row>
  </ion-grid>
</ion-content>