
.card-detalhes-vacina-content{
    padding: 0 !important;
}

.card-detalhes-vacina-header{
    background-color: #1fc19980;
    padding: 3%;
}

.icon-detalhes-vacina{
    float: right;
    font-size: 28px;
}